@import "tailwindcss";

@theme {
  --color-primary: #A294F9;
  --color-red-base: #FF5252;
  --color-secondary: #6C63FF;
  --color-text-base: #333333;
  --color-green-base: #4CAF50;
  --color-yellow-base: #FFD166;
  --color-text-secondary: #E5E5E5;

  --color-disable: #BDBDBD;

  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-md: 1rem;
  --text-sm: 0.875rem;
  --text-subtitle: 0.875rem;
  

  --color-bg: #F5F5F5;

  --font-rubik: 'Rubik', sans-serif;
}